* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 8px;
}

.logo-name {
  font-size: 16px;
  font-family: "pacifico";
  color: #ac8f53;
}

.header-items {
  display: flex;
  gap: 12px;
  color: #20323e;
  font-size: 10px;
  font-weight: 600;
}

li {
  list-style: none;
}

h1 {
  margin-top: 8px;
  color: #ac8f53;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

.span-name {
  color: #20323e;
  font-size: 16px;
}

.pool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

.image-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 20%;
  padding: 0 32px;
}

.image-line {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
  margin-top: 12px;
  gap: 12px;
}

.image-line img {
  width: 120px;
}

.attractions {
  background-color: #20323e;
  margin-top: 8px;
}

.place-title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

.place-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 20%;
  padding: 0 32px;
}

.local-with-text {
  color: #CFB144;
  font-size: 16px;
  text-transform: uppercase;
}

.attract-items {
  color: #fff;
}

.attract-title {
  color: #CFB144;
  text-transform: uppercase;
  font-size: 16px;
}

.attract-list {
  font-size: 8px;
  line-height: 175%;
}

.second-img-group img {
  height: 160px;
}

.home-items {
  font-size: 8px;
  color: #fff;
}

.items-home-list {
  line-height: 175%;
}

@media (min-width: 414px) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 16px;
    gap: 36px;
  }
  .logo-name {
    font-size: 16px;
    font-family: "pacifico";
    color: #ac8f53;
  }
  .header-items {
    display: flex;
    gap: 12px;
    color: #20323e;
    font-size: 10px;
    font-weight: 600;
  }
  li {
    list-style: none;
  }
  h1 {
    margin-top: 16px;
    color: #ac8f53;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
  }
  .span-name {
    color: #20323e;
    font-size: 16px;
  }
  .pool {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .attractions {
    background-color: #20323e;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .place-title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
  }
  img {
    width: 100%;
  }
  .image-line {
    display: flex;
    padding: 0px 20px 20px 20px;
    margin-top: 12px;
    gap: 12px;
  }
  .image-line img {
    width: 120px;
  }
  .attract-items {
    color: #fff;
  }
  .attract-title {
    color: #CFB144;
    text-transform: uppercase;
    font-size: 16px;
  }
  .attract-list {
    color: white;
    font-size: 8px;
  }
  .slider-section {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
  }
  .slides {
    width: 400%;
    height: 400px;
    display: flex;
  }
  .slides input {
    display: none;
  }
  .slide {
    width: 25%;
    position: relative;
    transition: 1s;
  }
  .navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 320px;
    display: flex;
    justify-content: center;
  }
  .navigation-auto div:not(:last-child) {
    margin-right: 20px;
  }
  .manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -80px;
    display: flex;
    justify-content: center;
  }
  .manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child) {
    margin-right: 20px;
  }
  .manual-btn:hover {
    background-color: #fff;
  }
  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -25%;
  }
  #radio3:checked ~ .first {
    margin-left: -50%;
  }
  #radio4:checked ~ .first {
    margin-left: -75%;
  }
  #radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
  }
  #radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
  }
  #radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
  }
}
@media (min-width: 768px) {
  .main-header {
    height: 75px;
    gap: 82px;
    padding: 0 36px;
  }
  .logo-name {
    font-size: 24px;
  }
  .header-items {
    gap: 48px;
  }
  li {
    font-size: 16px;
  }
  .pool {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 100%;
  }
  h1 {
    margin: 32px 0px 32px 0px;
    font-size: 20px;
    line-height: 150%;
  }
  .span-name {
    margin: 20px 0;
    font-size: 28px;
  }
  .image-line {
    margin-top: 32px;
  }
  .place-title {
    font-size: 20px;
    padding-top: 32px;
  }
  .attractions {
    margin: 0px;
  }
  .attract-title {
    font-size: 20px;
  }
  .attract-items {
    margin-top: 16px;
  }
  .attract-list {
    font-size: 12px;
    line-height: 200%;
  }
  .home-items {
    margin-top: 16px;
  }
  .local-with-text {
    font-size: 20px;
  }
  .items-home-list {
    font-size: 12px;
    line-height: 200%;
  }
  .first-img-group {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .first-img-group img {
    width: 230px;
    height: 310px;
  }
  .second-img-group {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .second-img-group img {
    width: 230px;
    height: 310px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .main-header {
    padding: 0 72px;
  }
  .logo-name {
    font-size: 32px;
  }
  .header-items {
    gap: 72px;
  }
  li {
    font-size: 20px;
  }
  img {
    width: 100%;
    height: 85vh;
  }
  h1 {
    font-size: 32px;
    line-height: 200%;
    margin: 36px 0px 36px 0px;
  }
  .span-name {
    font-size: 60px;
  }
  .image-img {
    padding-bottom: 32px;
  }
  .place-title {
    padding: 0;
    font-size: 32px;
    margin-top: 36px;
  }
  .first-img-group img {
    width: 350px;
    height: 450px;
  }
  .second-img-group img {
    width: 350px;
    height: 450px;
  }
  .attract-title {
    font-size: 32px;
  }
  .local-with-text {
    font-size: 32px;
  }
  .attract-items {
    margin-top: 32px;
  }
  .attract-list {
    font-size: 20px;
    line-height: 175%;
  }
  .home-items {
    margin-top: 32px;
  }
  .items-home-list {
    font-size: 20px;
    line-height: 175%;
  }
}

/*# sourceMappingURL=style.css.map */
