@use "variables";
@import "breakpoints";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 16px;
  gap: 36px;
}

.logo-name {
  font-size: 16px;
  font-family: "pacifico";
  color: variables.$orange-color;
}

ul {
  display: flex;
  gap: 12px;
}

li {
  list-style: none;
  font-size: 10px;
  font-weight: 600;
  color: variables.$blue-color;
}

h1 {
  color: variables.$orange-color;
  text-align: center;
}

.span-name {
  color: variables.$blue-color;
}

.city-name {
  color: variables.$orange-color;
  font-weight: 600;
  text-align: center;
}

@include tablet {
  .main-header {
    height: 75px;
    gap: 82px;
    padding: 0 36px;
  }

  .logo-name {
    font-size: 24px;
  }

  ul {
    gap: 48px;
  }

  li {
    font-size: 16px;
  }
}

@include desktop {
  .main-header {
    padding: 0 72px;
  }

  .logo-name {
    font-size: 32px;
  }

  ul {
    gap: 72px;
  }

  li {
    font-size: 20px;
  }
}
