@use "variables";
@import "breakpoints";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 8px;
}

.logo-name {
  font-size: 16px;
  font-family: "pacifico";
  color: variables.$orange-color;
}

.header-items {
  display: flex;
  gap: 12px;
  color: variables.$blue-color;
  font-size: 10px;
  font-weight: 600;
}

li {
  list-style: none;
}

h1 {
  margin-top: 8px;
  color: variables.$orange-color;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

.span-name {
  color: variables.$blue-color;
  font-size: 16px;
}

.pool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

.image-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 20%;
  padding: 0 32px;
}

.image-line {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
  margin-top: 12px;
  gap: 12px;
}

.image-line img {
  width: 120px;
}

.attractions {
  background-color: variables.$blue-color;
  margin-top: 8px;
}

.place-title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: variables.$background-color;
  font-size: 12px;
}

.place-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 20%;
  padding: 0 32px;
}

.local-with-text {
  color: variables.$golden-color;
  font-size: 16px;
  text-transform: uppercase;
}

.attract-items {
  color: variables.$background-color;
  line-height: 100%;
}

.attract-title {
  color: variables.$golden-color;
  text-transform: uppercase;
  font-size: 16px;
}

.attract-list {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 8px;
  padding-top: 4px;
}

.home-items {
  font-size: 8px;
  color: variables.$background-color;
}

.items-home-list {
  padding-top: 4px;
  line-height: 190%;
}

@include phone {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 16px;
    gap: 36px;
  }

  .logo-name {
    font-size: 16px;
    font-family: "pacifico";
    color: variables.$orange-color;
  }

  .header-items {
    display: flex;
    gap: 12px;
    color: variables.$blue-color;
    font-size: 10px;
    font-weight: 600;
  }

  li {
    list-style: none;
  }

  h1 {
    margin-top: 16px;
    color: variables.$orange-color;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
  }

  .span-name {
    color: variables.$blue-color;
    font-size: 16px;
  }

  .pool {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .attractions {
    background-color: variables.$blue-color;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .place-title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: variables.$background-color;
    font-size: 12px;
  }

  img {
    width: 100%;
  }

  .image-line {
    display: flex;
    padding: 0px 20px 20px 20px;
    margin-top: 12px;
    gap: 12px;
  }

  .image-line img {
    width: 120px;
  }

  .attract-items {
    color: variables.$background-color;
  }

  .attract-title {
    color: variables.$golden-color;
    text-transform: uppercase;
    font-size: 16px;
  }

  .attract-list {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 8px;
    line-height: 190%;
    text-transform: uppercase;
  }
}

@include tablet {
  .main-header {
    height: 75px;
    gap: 82px;
    padding: 0 36px;
  }

  .logo-name {
    font-size: 24px;
  }

  .header-items {
    gap: 48px;
  }

  li {
    font-size: 16px;
  }

  .pool {
    padding: 0 72px;
    gap: 25px;
    flex-direction: row;
  }

  img {
    width: 450px;
  }

  h1 {
    font-size: 16px;
    line-height: 150%;
  }

  .span-name {
    margin: 20px 0;
    font-size: 24px;
  }
}

@include desktop {
  .main-header {
    padding: 0 72px;
  }

  .logo-name {
    font-size: 32px;
  }

  .header-items {
    gap: 72px;
  }

  li {
    font-size: 20px;
  }
  img {
    width: 600px;
  }

  h1 {
    font-size: 32px;
    line-height: 200%;
  }

  .span-name {
    font-size: 72px;
  }
}
